.main-header {
    padding-top: 0.3rem;
    height: 3.6rem;
    background: #2c6f90;
    background: -webkit-linear-gradient(to right, #2c6f90, #2b2b2b);
    background: linear-gradient(to right, #2c6f90, #2b2b2b);
}

.about-outbrain {
    border-bottom: 0.1rem solid #e0dfdf;
    background-color: #2c2c2d;
}

.about-outbrain h1 {
    color: #fafafa;
}

.about-outbrain-text {
    font-family: 'Alegreya Sans', sans-serif !important;
    color: #fafafa;
    font-size: 1.2rem;
}

.main-header img {
    height: 2.5rem;
}

.main-projects {
    background-color: #ecebeb;
    border-bottom: 0.1rem solid #e0dfdf;
}

[class*="col-"] {
    background-clip: padding-box;
    border: 1.6rem solid transparent;
    padding: 0 !important;
}

.projects-heading {
    font-size: 3.1rem;
    text-align: center;
    padding-top: 2rem;
    font-weight: 100;
    font-family: 'Alegreya Sans', sans-serif !important;
    color: #504e4c;
}

.line-divider {
    display: inline-block;
    border-top: 0.1rem solid #777777;
}

.project-container {
    border: transparent;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
    border-radius: 0 0 0.2rem 0.2rem;
}

.project-desc {
    font-family: 'Alegreya Sans', sans-serif !important;
    font-weight: 100;
    font-size: 1.1rem;
    padding: 0.5rem;
    text-align: center;
}

.project-name {
    font-family: 'Alegreya Sans', sans-serif !important;
    font-weight: 100;
    color: #fafafa;
    text-align: center;
    font-size: 2.5rem;
}

a {
    text-decoration: none !important;
}

.project-logo {
    background-color: #000000;
    background: -webkit-radial-gradient(50% 250%, circle, #FFF, #000);
    background: radial-gradient(circle at 50% 250%, #FFF, #000);
    height: 17rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.project-logo img {
    width: 12rem;
    line-height: 0 !important;
    -webkit-filter: drop-shadow(-5px 0px 10px #000);
    filter: drop-shadow(-5px 0px 10px #000);
    padding-top: 1rem;
}

.project-logo img:hover {
    width: 12.1rem;
    -webkit-filter: none;
    filter: none;
}

@media (max-width: 992px) {
    .project-logo {
        height: 15rem;
    }

    .project-name {
        font-size: 1.7rem;
    }
}

.stats {
    text-align: center;
}

.stats span {
    font-size: 1.1rem;
}

.stats span i {
    font-family: 'Alegreya Sans', sans-serif !important;
    font-style: normal;
    padding-left: 0.2rem;
    padding-right: 0.4rem;
    vertical-align: top;
    font-weight: 700;
}

.additional-projects {
    border-bottom: 0.1rem solid #e0dfdf;
}

.additional-project {
    font-family: 'Alegreya Sans', sans-serif !important;
}

.additional-project-name {
    font-size: 1.5rem;
}

.bottom-links {
    background-color: #2c2c2d;
}

.links-group {
    display: table;
}

.links-group ul {
    display: inline-block;
    vertical-align: super;
}

.links-group a {
    color: #c7c7c7 !important;
    font-family: 'Alegreya Sans', sans-serif !important;
}

.copyright {
    font-family: 'Alegreya Sans', sans-serif !important;
    text-align: center;
    color: #a7a7a7;
    font-size: 0.8rem;
}

.links-separator {
    border-right: 1px solid #c7c7c7;
    height: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: inline-block;
}