<!DOCTYPE html>
<html lang="en" ng-app="outbrainGithubApp">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Alegreya+Sans"/>

    <!-- CSS Files -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.css">
    <link rel="stylesheet" href="/css/main.css">

    <title>Outbrain OSS Center</title>
</head>
<body ng-controller="ProjectsDisplayController">

<div class="main-header">
    <img class="img-fluid m-x-auto d-block" src="/assets/logo.svg"
         alt="Outbrain Engineering Logo"/>
</div>

<div class="fluid-container about-outbrain">
    <h1 class="h1-heading projects-heading text-center">About Outbrain</h1>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 about-outbrain-text">
                Outbrain is a leading content discovery platform, serving more than 200 billion recommendations monthly,
                to more than 557 million users. We practice continuous integration and deployment, and release our
                services to thousands of servers, residing in a geographically dispersed, multi-datacenter environment,
                on a daily basis. Outbrain both leverages and provides open source technology, take a look at our
                projects section below.
            </div>
        </div>
    </div>
</div>

<div class="fluid-container main-projects" ng-hide="!loading">
    <h1 class="h1-heading projects-heading text-center loading-projects">Loading Projects...</h1>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
            </div>
        </div>
    </div>
</div>

<div class="fluid-container main-projects" ng-hide="loading">

    <h1 class="h1-heading projects-heading text-center">Hero Projects</h1>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="name in heroProjects">
                <div class="project-container">
                    <a href="https://github.com/{{outbrainOrg}}/{{name}}">
                        <div class="project-logo">
                            <img src="assets/{{name}}.svg" class="img-fluid m-x-auto d-block" alt="{{projectsData.heroProjects[name].description}}"/>
                            <div class="project-name">{{projectsData.heroProjects[name].originalName}}</div>
                        </div>
                    </a>

                    <div class="project-desc">
                        {{projectsData.heroProjects[name].description}}
                        <div class="stats">
                            <div class="line-divider w-100"></div>
                            <span><i>{{projectsData.heroProjects[name].language}}</i></span>
                            <span class="octicon octicon-star"><i>{{projectsData.heroProjects[name].stars}}</i></span>
                            <span class="octicon octicon-repo-forked"><i>{{projectsData.heroProjects[name].forks}}</i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fluid-container additional-projects" ng-hide="loading">
    <h1 class="h1-heading projects-heading text-center">Additional Projects</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="(name, value) in projectsData.additionalProjects">
                <div class="additional-project">
                    <div class="additional-project-name"><a href="https://github.com/{{outbrainOrg}}/{{name}}">{{value.originalName}}</a></div>
                    <div class="additional-project-desc">{{value.description}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fluid-container bottom-links">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="links-group m-x-auto">
                    <ul class="list-unstyled">
                        <li><a href="http://techblog.outbrain.com">Tech Blog</a></li>
                        <li><a href="http://blog.outbrain.com">Outbrain Blog</a></li>
                    </ul>
                    <div class="links-separator"></div>
                    <ul class="list-unstyled">
                        <li><a href="http://www.outbrain.com/about/company">What is Outbrain</a></li>
                        <li><a href="http://jobs.outbrain.com">Work With Us</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="copyright">
                    Copyright &copy; 2016 Outbrain Inc. All rights reserved. Outbrain is a trademark of Outbrain Inc.
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>

<!-- Main app -->
<script src="/js/app.js"></script>

</body>
</html>